---
layout: default
single: true
---

<section class="container container-class">
    <div class="intro-section intro-section--fixed">
        <header class="intro__header">
            <h1 class="header-xxl">${page.title}</h1>
        </header>
        <img src="${ r page.photo}" />
        <p></p>
        <h2>${page.theme}</h2>
        <p>${content}</p>
    </div>

    <ul class="list-line list-line--ico">
        <li class="data-icon">
            <span>25/08 14:30</span>
        </li>
    </ul>

    <h2 class="header-xl decorator-header">Препараты </h2>
    <div class="decorator-box--simple">
        <div class="bx-wrapper">
            <div class="bx-viewport">

                <ul class="bxslider--products list-line list-line--animate">

                    <li>
                        <a href="#">
                            <div>
                                <img src="https://www.naturabisse.com/ps/INT/img/p/3/4/6/346-relatedproduct_default.jpg" height="375" width="275" alt="">
                            </div>
                            <div>
                                <h3 class="header-s">
                                    DIAMOND MIST
                                </h3>
                                <p></p>
                            <span href="#">
                                <span>See more</span>
                            </span>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <div>
                                <img src="https://www.naturabisse.com/ps/INT/img/p/2/7/27-relatedproduct_default.jpg" height="375" width="275" alt="">
                            </div>
                            <div>
                                <h3 class="header-s">
                                    DIAMOND BODY CREAM
                                </h3>
                                <p></p>
                            <span href="#" class="btn btn-transparent">
                                <span>See more</span>
                            </span>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <div>
                                <img src="https://www.naturabisse.com/ps/INT/img/p/1/9/2/192-relatedproduct_default.jpg" height="375" width="275" alt="">
                            </div>
                            <div>
                                <h3 class="header-s">
                                    DIAMOND EXTREME
                                </h3>
                                <p></p>
                                <span href="#" class="btn btn-transparent">
                                    <span>See more</span>
                                </span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</section>
